.navbar-nav .nav-link {
  color: #000096 !important;
}

.navbar-nav .nav-link:hover {
  position: relative;
}

.navbar-nav .nav-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #000096;
  animation: slide 0.3s;
}

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.card-title {
  color: #000096 !important;
}

.card-text {
  color: #000096 !important;
}

.card-details {
  color: #000096 !important;
}

.card-store {
  background-color: #f8eddb;
}

.btn-outline-primary {
  color: #000096 !important;
  border-color: #000096 !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #000096 !important;
}
.btn-primary {
  color: #ffffff !important;
  background-color: #000096 !important;
  border-color: #000096 !important;
}

.btn-primary:hover {
  color: #000096 !important;
  border-color: #000096 !important;
  background-color: #ffffff !important;
}

.btn-image {
  color: #000096 !important;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

.btn-image:hover {
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: #000096 !important;
}

.btn-login {
  color: #000096 !important;
}

.btn-login {
  position: relative;
  transition: color 0.3s;
}

.btn-login:hover {
  color: #000096 !important;
}

.btn-login:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000096;
  animation: slide 0.3s;
}

.btn-logout {
  color: #000096 !important;
  position: relative;
  transition: color 0.3s;
}

.btn-logout:hover {
  color: #000096 !important;
}

.btn-logout:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000096;
  animation: slide 0.3s;
}

.btn-dropdown {
  color: #000096 !important;
  position: relative;
  transition: color 0.3s;
}

.btn-dropdown:hover {
  color: #000096 !important;
}

.footer {
  background-color: #000096 !important;
}

.title {
  color: #000096 !important;
}

.dropdown-menu {
  color: #000096 !important;
}

.dropdown-item {
  color: #000096 !important;
}

.jumbotron {
  background-color: #f8eddb;
  color: #000096 !important;
}

.jumbotron-text {
  font-size: 6vw;
}
